<button *ngIf="(nodesFilter$|async).length" class="btn btn-primary m-4 float-right" (click)="showAll()" placement="left" ngbTooltip="Afficher les éléments actuellements cachés">Tous</button>
<div class="container-fluid mt-5">
    <h3 class="m-4 text-primary text-center">
        Températures actuelles
    </h3>
    <div class="row">
        <div *ngFor="let gauge of gauges$|async" class="gauge col-12 col-sm-6 col-lg-2 text-center">
            <a [routerLink]="['/sonde', gauge.id]">
                <google-chart class="d-inline-block" [type]="GAUGE" [data]="gauge.data" [columns]="columns" [options]="gauge.config"></google-chart>
            </a>
            <button class="close btn btn-outline-primary btn-sm" (click)="hide(gauge.id)">&times;</button>
        </div> 
    </div>
    <app-date-picker [(dates)]="dates"></app-date-picker>
    <h3 class="text-primary text-center">
        Températures minimales et maximales {{ dates.from | date:'short' }} - {{ dates.to | date:'short'}}
    </h3>
    <div class="row"> 
        <google-chart class="col-12" [width]="'100%'" [height]="500" [type]="CANDLESTICK" [data]="candlestick$|async" [options]="candlestickOptions" ></google-chart>
    </div>
    <h3 class="text-primary text-center">
        Courbes des températures
    </h3>
    <div class="row"> 
        <google-chart class="col-12" [width]="'100%'" [height]="500" [type]="LINECHART" [data]="linechart$|async" [columns]="linechartColumns" [options]="linechartOptions" ></google-chart>
    </div>
</div>
