<div *ngIf="connected; else login">
    <h3 class="text-primary text-center m-5">Configuration</h3>
    <div class="container">
        <div class="row justify-content-center">
            <table class="col-10 table">
                <thead>
                    <tr>
                        <th scope="col">Mail</th>
                        <th scope="col">Niveau d'alerte</th>
                        <th scope="col">Nodes</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>
                            {{ user.mail }}
                        </td>
                        <td>
                            {{ user.limit }}
                        </td>
                        <td>
                            {{ user.nodeNames.join(', ') }}
                        </td>
                        <td>
                            <button class="btn btn-outline-primary" [swal]="editUserSwal" (click)="swalUser(user)" (confirm)="editUser(user)"><span class="vf-create"></span></button>
                        </td>
                    </tr> 
                </tbody>
            </table>
        </div>
    </div>
</div>

<swal #editUserSwal [showCancelButton]="true">
    <form *swalPortal [formGroup]="editUserForm">
        <div class="row">
            <label for="email" class="col-form-label col-sm-2">Mail</label>
            <input id="email" type="email" class="form-control col" formControlName="mail">
        </div>
        <div class="row">
            <label for="alert" class="col-form-label col-sm-2">Seuil</label>
            <select class="form-select col" id="alert" formControlName="limit">
                <option value="yellow" [selected]="">Jaune</option>
                <option value="red" >Rouge</option>
              </select>
        </div>
        <div formGroupName="nodes">
            <div *ngFor="let node of nodes" class="form-check">
                <input class="form-check-input" type="checkbox" [selected]="false" [id]="'node'+node.id" [formControlName]="node.id">
                <label class="form-check-label" [attr.for]="'node'+node.id">
                {{ node.nom }}
                </label>
            </div>
        </div>
        <small class="mt-4"><em>Note : par défaut tous les nodes sont sélectionnés. En déselectionnant certains on limite les notifications. En
            les déselectionnant tous on réactive le mode par défaut.
        </em></small>

    </form>
</swal>

<ng-template #login>
    <form class="m-5 row justify-content-center" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <input class="form-control col-3" placeholder="Mot de passe" formControlName="loginControl" type="text" id="password">
        <button class="btn" [ngClass]="buttonClass" type="submit">Ok</button>
    </form>

</ng-template>